/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background: #ffe6f0;
    color: #333;
    text-align: center;
    padding: 30px;
}

/* Titre */
h1 {
    color: #d63384;
    margin-bottom: 15px;
    font-size: 40px;
}

/* Paragraphe */
p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #b03060;
}

/* Bouton GitHub */
a {
    display: inline-block;
    text-decoration: none;
    background: #ff69b4;
    color: white;
    padding: 12px 22px;
    border-radius: 10px;
    transition: 0.3s;
    margin-bottom: 30px;
    font-weight: bold;
}

a:hover {
    background: #e754a6;
    transform: scale(1.05);
}

/* Sections */
header,
main,
footer {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Header */
header {
    background: #ffb6c1;
    color: #8b005d;
}

/* Main */
main {
    background: #ff85a2;
    color: white;
}

/* Footer */
footer {
    background: #d63384;
    color: white;
}