/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */
body{
    font-family:Arial, sans-serif;
    background:#ffe6f0;
    color:#333;
    scroll-behavior:smooth;
}

/* Navigation */
nav{
    background:#ff69b4;
    padding:20px;
    text-align:center;
    position:sticky;
    top:0;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-size:18px;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:#ffe6f0;
    background:#d63384;
    padding:10px 15px;
    border-radius:10px;
}

/* Sections */
section{
    width:80%;
    margin:40px auto;
    padding:40px;
    background:white;
    border-radius:20px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    text-align:center;
}

/* Titres */
h1{
    color:#d63384;
    margin-bottom:20px;
    font-size:45px;
}

h2{
    color:#d63384;
    margin-bottom:20px;
    font-size:32px;
}

/* Paragraphes */
p{
    font-size:20px;
    margin-bottom:20px;
    color:#444;
}

/* Boutons liens */
.btn{
    display:inline-block;
    background:#ff69b4;
    color:white;
    text-decoration:none;
    padding:12px 25px;
    border-radius:12px;
    transition:0.3s;
    font-weight:bold;
    margin-top:10px;
}

.btn:hover{
    background:#d63384;
    transform:scale(1.05);
}

/* Footer */
footer{
    background:#d63384;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
    font-size:18px;
}
#btnMessage{
    background:pink;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:15px;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;

    /* milieu de la page */
    display:block;
    margin:50px auto;
}

#btnMessage:hover{
    background:#d63384;
}